h1 {
  margin: 20px auto;
  max-width: 100px;
}

.categories {
  max-width: 200px;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}
.item_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thick double #32a1ce;
  padding: 2px;
  width: 100px;
}
